<div class="date-model">
  <form>
    <div class="form-group">
      <label for="dateOfReserve">Date of reserve</label>
      <div class="input-group">
        <input id="dateOfReserve" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="date">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="set-time">
          <label class="label-time">Start time</label>
          <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
        </div>
      </div>
      <div class="col">
        <div class="set-time">
          <label class="label-time">End time</label>
          <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
        </div>
      </div>
    </div>
  </div>
</div>
