<div class="container">
  <app-alert *ngIf="alert" [alerts]="alert"></app-alert>
  <div class="col-12">
    <h3>Prepare your reservation</h3>
    <div class="row align-items-center" [formGroup]="consultForm">
      <div class="col-md-4 align-col-center mabo15">
        <div>
          <h5>Date</h5>
        </div>
        <div class="input-group ngb-center">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker"
            [minDate]="currentDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fas fa-calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 align-col-center mabo15">
        <h5>Start Time</h5>
        <ngb-timepicker class="ngb-center" formControlName="sTime" spinners></ngb-timepicker>
      </div>
      <div class="col-md-4 align-col-center mabo15">
        <h5>End Time</h5>
        <ngb-timepicker class="ngb-center" formControlName="eTime" spinners></ngb-timepicker>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="row text-center small form-text text-danger">
      <div *ngFor="let error of errors">
        <span>{{error}}</span>
      </div>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-primary" [disabled]="consultForm.invalid" (click)="onClick()">CONSULT</button>
    </div>
  </div>

  <div *ngIf="availableChairs" class="consultTable">
    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="thead-light">
        <tr>
          <th scope="col">{{tableHeaders.description}}</th>
          <th scope="col">{{tableHeaders.location}}</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody *ngIf="chairList">
        <tr *ngFor="let chair of availableChairs">
          <th scope="row">{{chair.description}}</th>
          <td>{{chair.location}}</td>
          <td class="actions">
            <mat-icon matSuffix (click)="createReservation(chair)">add</mat-icon>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

Sillas disponibles:
<pre>{{availableChairs | json}}</pre>
Sillas:
<pre>{{chairList | json}}</pre>
Reservas:
<pre>{{reservationList | json}}</pre>
