<div class="container">
  <app-alert *ngIf="alert" [alerts]="alert"></app-alert>
  <ng-container *ngIf="(reservation !== undefined && reservation.length > 0); else noReservation">
    <div class="row">
      <h4>
        Welcome back, friend. Your reservation information is as follows:
      </h4>
    </div>
    <br>
    <div class="row">
      <button type="button" class="editable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/img/edit.svg" class="edit-icon" alt="Edit">
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <!--        <button class="dropdown-item" type="button" (click)="openEditModal()">Edit reservation</button>-->
        <button class="dropdown-item" type="button" (click)="deleteReservation(reservation[0].id, reservation[0].chairId)">Delete reservation</button>
      </div>
      <div class="col-12">
        <div class="card-deck">
          <div class="card reservation-data">
            <img src="assets/img/calendar.svg" class="card-img-top reservation-icon" alt="Reservation date">
            <div class="card-body">
              <h5 class="card-title label">Date</h5>
              <p class="card-text reservation-information">
                {{reservation[0].date.day}}/{{reservation[0].date.month}}/{{reservation[0].date.year}}
              </p>
            </div>
          </div>
          <div class="card reservation-data">
            <img src="assets/img/clock.svg" class="card-img-top reservation-icon" alt="Reservation time">
            <div class="card-body">
              <h5 class="card-title label">Time</h5>
              <p class="card-text reservation-information">
                {{reservation[0].sTime.hour}}:{{reservation[0].sTime.minute < 10 ? '0' + reservation[0].sTime.minute : reservation[0].sTime.minute}}
                -
                {{reservation[0].eTime.hour}}:{{reservation[0].eTime.minute < 10 ? '0' + reservation[0].eTime.minute : reservation[0].eTime.minute}}
              </p>
            </div>
          </div>
          <div class="card reservation-data">
            <img src="assets/img/compass.svg" class="card-img-top reservation-icon" alt="Reservation location">
            <div class="card-body">
              <h5 class="card-title label">Location</h5>
              <p class="card-text reservation-information">{{this.chairLocation[0]}} - {{this.chairLocation[1]}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noReservation>
    <h4>
      Welcome back, friend. Apparently you have no reservations, run to look for.
    </h4>
  </ng-template>
</div>
