<div class="ibm-drag-boundary" *ngIf="chairInput">
  <div class="ibm-drag-box" [ngClass]="{'fade-out': disappear}" [cdkDragDisabled]="chairInput.isReserved" cdkDragBoundary=".ibm-drag-boundary" (cdkDragStarted)=" showGarbage = !showGarbage" (cdkDragEnded)="changePosition()" [cdkDragFreeDragPosition]="dragPosition" cdkDrag>
    <div class="ibm-drag-handle" cdkDragHandle>
      <svg *ngIf="!chairInput.isReserved" width="24px" fill="currentColor" viewBox="0 0 24 24">
        <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
        <path d="M0 0h24v24H0z" fill="none"></path>
      </svg>
    </div>
    <div class="modal-reserve">
      <ibm-modal [chair]="chairInput"></ibm-modal>
    </div>
  </div>
  <div class="delete fade-in" [ngClass]="{'fade-out': disappear}" *ngIf="showGarbage">
    <button (touchstart)="deleteReserve()" (mouseenter)="deleteReserve()"><img src="../../../assets/img/garbage.svg" alt=""></button>
  </div>
</div>