<h1 mat-dialog-title>Edit reservation</h1>
<div mat-dialog-content class="content-modal">
  <p>Please enter the following information to edit your reservation.</p>
  <ibm-date></ibm-date>
</div>
<div mat-dialog-actions>
  <div class="row footer-buttons">
    <div class="col">
      <button type="button" mat-button class="btn btn-outline-primary btn-lg" (click)="onNoClick()">Cancel</button>
    </div>
    <div class="col">
      <button type="button" mat-button class="btn btn-outline-success btn-lg" (click)="onClick()">Edit</button>
    </div>
  </div>
</div>